
        // Class
        // Usage as a mixin
        .element {
            .center-block();
        }
        .container-1{
              width: 300px;
              vertical-align: middle;
              white-space: nowrap;
              position: relative;
              margin:0 0 0 150px;
        }

        .container-1 input#search{
              width: 300px;
              height: 50px;
              background: rgb(253, 253, 253);
              border: none;
              border-style:solid;
              border-width:1px;
              border-color:rgb(202, 202, 202);
              font-size: 10pt;
              float: left;
              color: #63717f;
              padding-left: 45px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
              border-radius: 5px;
        }

        .container-1 input#search::-webkit-input-placeholder {
           color: #65737e;
        }

        .container-1 input#search:-moz-placeholder { /* Firefox 18- */
           color: #65737e;
        }

        .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
           color: #65737e;
        }

        .container-1 input#search:-ms-input-placeholder {
           color: #65737e;
        }

        .container-1 .icon{
              position: absolute;
              top: 50%;
              margin-left: 17px;
              margin-top: 14px;
              z-index: 1;
              color: #9a9a9a;
        }

        .container-2{
              width: 300px;
              vertical-align: middle;
              white-space: nowrap;
              position: relative;
              margin:0 0 0 900px;
        }

        .container-2 input#search{
             width: 200px;
              height: 50px;
              background: rgb(253, 253, 253);
              border: none;
              border-style:solid;
              border-width:1px;
              border-color:rgb(202, 202, 202);
              font-size: 10pt;
              float: left;
              color: #63717f;
              padding-left: 45px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
              border-radius: 5px;
        }

        .container-2 input#search::-webkit-input-placeholder {
           color: #65737e;
        }

        .container-2 input#search:-moz-placeholder { /* Firefox 18- */
           color: #65737e;
        }

        .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
           color: #65737e;
        }

        .container-2 input#search:-ms-input-placeholder {
           color: #65737e;
        }

        .container-2 .icon{
              position: absolute;
              top: 50%;
              margin-left: 17px;
              margin-top: 14px;
              z-index: 1;
              color: #9a9a9a;
        }


        .row {
            width:970px;
            padding:10px;
            margin: 0 auto;
            margin:30px auto 20px auto;
            float:middle;
        }


        .rows {
            width:970px;
            height:950px;
            margin: 0 auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 10px 5px #b3afaf54;
        }

        .contents-info {
            width: 970px;
            height:150px;
            border:1px;
            margin: 30px;

        }
        .contents-title{
            float: left;
            width: 33%;
            padding:10px;
        }
         .contents-title2{
            float: right;
            width: 33%;
            padding:10px;
        }
        .container1 {
            margin:70px
           }

        .carousel {
        }

        .contents-detail {
            width: 1000px;
            border: solid;
            border-width: 2px;
            border-color: #b3afaf54;
            padding: 20px;

        }

        .contents-kind {
            margin: 10px auto 10px auto;
            width: 100px;
            background-color: red;
            color: white;
            border-radius:20px;
            backgraound-size: 100px;
            text-align: center;
        }
        .nav-item{
            font-size: 1rem;
            font-weight:600;
        }
        .nav-link{
            font-family: 'Noto Sans KR', sans-serif;

        }
        .icon-name{
            font-family: 'Noto Sans KR', sans-serif;
        }

        .input-reply{
            width: 1000px;
            margin: 0 auto;
        }

        .row-advertise {
            width: 1519.2px;
            position: relative;
            top: 0px;
            margin: 0 auto;
        }
        .contents-icon-tags {
            padding: 0 0 30px 0;
        }
        .contents-icon-tag {
            width: 100px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .contents-tag-row {
            width:1000px;
            margin: 0 auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 10px 5px #b3afaf54;
        }
        .contents-popular-row {
            width:1300px;
            height: 350px;
            margin: 40px auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 10px 5px #b3afaf54;
        }
        .contents-populars {
            margin: 0 auto;
            height: 350px;
        }
        .contents-popular-tit {
            width: 200px;

            position: relative;
            top: 20px;
            left: 10px;
            font-size: 20px;
        }
        .contents-popular-title {
            position: relative;
            width: 200px;
            margin: 20px 20px 20px 20px;
            display: inline;
            font-weight: bold;
            font-size: 25px;
            }
        .contents-popular-kind {
            width: 100px;
            background-color: red;
            color: white;
            border-radius:20px;
            backgraound-size: 100px;
            text-align: center;
            display: inline;
        }
        .contents-recommend-row {
            width: 1300px;
            height: 400px;
            margin: 40px auto;
            background-color:#ffffff!important;
            border-width:1px;
            box-shadow: 0px 0px 10px 5px #b3afaf54;
        }
        .contents-popular-contents {
            width: 1200px;
            height: 350px;
            margin: 0 auto;
        }
        .contents-popular-posting {
            width: 205px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .contents-popular-posting-date {
            display: inline;
            float: left;
            margin: 0 60px 0 0;
        }
        .contents-recommend-posting {
            width: 180px;
            pedding: 0 0 30px 0;
            margin: 30px 0 0 30px;
            float: left;
        }
        .history-total {
            width: 950px;
            font-family: 'Noto Sans KR', sans-serif;
            float: right;
            font-size:15px;
            margin: 0px 30px 0 50px;
            text-align:right;

        }

        .history-name{
             font-family: 'Noto Sans KR', sans-serif;
             float: right;
             font-size:15px;
        }

        .history-detail{
            font-family: 'Noto Sans KR', sans-serif;
            align:right;
            width: 600px;
            height: 2px;
            margin: 0px 30px 0 50px;

        }
        .history{
            font-family: 'Noto Sans KR', sans-serif;
            margin: 10px 30px 0 50px;
        }
        .transaction-input{
            width: 800px;
            height: 50px;
            background: rgb(253, 253, 253);
            border: none;
            border-style:solid;
            border-width:1px;
            border-color:rgb(202, 202, 202);
            font-size: 10pt;
            float: left;
            color: #63717f;
            border-radius: 5px;
            padding:5px;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
