<!DOCTYPE html>

<html lang="en">

{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>(로고) sign up</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'unid/css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/signup.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
    <!-- 검색아이콘 -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
{% load socialaccount %}
    <div id="outline">
        <div id="container">
            <div id="contents">
                <div id="logo">
                    <p><img style="width:210px" src="{% static 'unid/icon/unid_icon.png' %}"></p>
                    <p><h1 style="text-align:center"><strong>로그인</strong></h1></p>
                    <p>기존에 사용하시던 계정으로</p>
                    <p>간편하게 로그인하세요!</p>
                </div>
                <div id="signUpLinks">
                    <p><a href="{% provider_login_url 'google' method='oauth2' %}"><img style="width:350px" src="{% static 'unid/icon/google.png' %}" ></a></p>
                    <p><a href="{% provider_login_url 'facebook' method='oauth2' %}"><img style="width:350px" src="{% static 'unid/icon/facebook.png' %}"></a></p>
                    <p><a href="https://kauth.kakao.com/oauth/authorize?client_id=122f531f95d70dabb69ff17f4f1b0be2&redirect_uri=http://localhost:8000/unid/oauth&response_type=code"><img style="width:350px" src="{% static 'unid/icon/kakao.png' %}"></a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
