
{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<!-- Page Content -->

<head>
    <link href="{% static 'unid/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/contentsupload.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/main_upload.css' %}" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div class="container1">
    <!-- contents InFo -->
    <div class="contentsuploadrows">
        <h5 class="board-title">게시물 쓰기</h5>
        <form id="myform" class="form-horizontal" name=writeform method='POST' enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group">
                <label for="inputtitle" class="col-sm-2" id="#contentsName">제목</label>
                <input class="form-control col-sm-10"  name="title" id="inputtitle" type="text">
                <ul class="str_ul">
                    <li class="tip_str" >
                    게시물의 제목을 입력해주세요
                    </li>
                    <li class="byte_str"><span class="col_red" id="body_byte">0</span>자</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="inputcategory" class="col-sm-2" >카테고리</label>
                <select class="form-control col-sm-10" id="inputcategory" name="category">
                    <option title="Combo 1">학교정보</option>
                    <option title="Combo 2">학교주변리뷰</option>
                    <option title="Combo 3">취업정보</option>
                    <option title="Combo 4">질문</option>
                </select>
            </div>

             <div id="user_file_before">
                <div id="user_file_over">
                    <input type="file"  id="user_files"  name="user_files" class="user_files" title="파일찾기" multiple/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputfiles" class="col-sm-2" id="inputfiles">파일 업로드</label>
                <input class="form-control col-sm-8 files1"  style="background-color: white;" name="title" id="inputfiles" type="text" readonly/>
                <input class="form-control col-sm-2 files-button" style="background-color: red;color: white;text-align:center;"value="파일 첨부"readonly/>
            </div>
            <div class="text-group">
                <label for="inputtext">본문 내용</label>
                <textarea rows="5" class="form-control" id="inputtext" name="contents" placeholder="검색한 단어와 일치하는 키워드가 있을 때 검색 결과 상위에노출됩니다."></textarea>
                <ul class="str_ul textformtip">
                    <li class="byte_str"><span class="col_red" id="body_byte">0</span>자</li>
                </ul>
            </div>


            <div class="form-group">
                <label for="inputtags" class="col-sm-2" >태그</label>
                <input class="form-control col-sm-6 input-lg shortput" id="inputags"  name="tags" type="text" placeholder="예) #대기업, #취업, #성공적">

                <ul class="str_ul">
                    <li class="tip_str">
                    태그를 입력해주세요. 쉼표로 구분(,) 최대 3개
                    </li>
                </ul>
            </div>
            <div class="row">
                <button type="button" class="cd-popup-trigger" id='enrollcontents'>게시물 등록 </button>
                <div class="cd-popup" role="alert">
                    <div class="cd-popup-container">
                        <div class="popuprow1">
                            <h4>게시물을 등록하시겠습니까?</h4>
                        </div>

                        <div class="popuprow3">
                            이 게시물은 보팅수에 따라 니드코인을 통해 보상되며 이더리움 네트워크 사정에 의해 처리속도가 지연될 수 있습니다.
                        </div>

                        <ul class="cd-buttons">
                            {% comment %} <li><button type="submit" class="cd-popup-yes">Yes</button></li> {% endcomment %}
                            <li><a href="#0" class="cd-popup-yes" id="enrollyes" onclick="document.getElementById('myform').submit()">Yes</a></li>
                            <li><a href="#0" class="cd-popup-no">No</a></li>
                        </ul>
                        <a href="#0" class="cd-popup-close img-replace"></a>
                    </div> <!-- cd-popup-container -->
                </div> <!-- cd-popup -->

            </div>
         </form>


</body>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    jQuery(document).ready(function($){


        //open popup
        $('.cd-popup-trigger').on('click', function(event){
            event.preventDefault();
            $('.cd-popup').addClass('is-visible');
            let contentsprice = $('#inputprice').val();
            let contentsname = $('#user_files').val();
            console.log(contentsprice);
            $('#popupinfo').empty();
            $('#popupinfo').append("<li id='popupwriter'>작성자 : </li> <li>" + {{ request.session.user_email }} + "</li>");
            $('#popupinfo').append("<li id='popuptitle'>제목 : </li> <li>" + contentsname + "</li>");
            $('#popupinfo').append("<li id='popupprice'>가격 : </li> <li>" + contentsprice + "</li>");
        });

        //close popup
        $('.cd-popup').on('click', function(event){
            if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') || $(event.target).is('.cd-popup-no')) {
                event.preventDefault();
                $(this).removeClass('is-visible');
            }
        });
        //close popup when clicking the esc keyboard button
        $(document).keyup(function(event){
            if(event.which=='27'){
                $('.cd-popup').removeClass('is-visible');
            }

        });

    });

    var WEB3 = require('web3');
    var web3 = new WEB3();
    web3.setProvider(new web3.providers.HttpProvider("http://localhost:8545"));

    var contentsmasterContract = web3.eth.contract([{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"contents","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"name","type":"string"},{"name":"price","type":"uint32"}],"name":"addContents","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"getContentsAddressList","outputs":[{"name":"contentsAddressList","type":"address[]"}],"payable":false,"stateMutability":"view","type":"function"},{"anonymous":false,"inputs":[{"indexed":false,"name":"name","type":"string"}],"name":"EventAddContents","type":"event"}]);


    let cc = contentsmasterContract.at( "0xbf5f1204ba8ee3bc0096459e9b80099d4fee2a7a" );

    var contentsContract = web3.eth.contract([{"constant":false,"inputs":[],"name":"countUp","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"getDownloadCount","outputs":[{"name":"","type":"uint32"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getContentsPrice","outputs":[{"name":"","type":"uint32"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"getContentsName","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"inputs":[{"name":"name","type":"string"},{"name":"price","type":"uint32"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"count","type":"uint32"}],"name":"EventCountUp","type":"event"}]);

    $(function() {
        $('#enrollyes').click(function() {
            let contentsprice = $('#inputprice').val();
            let contentsname = $('#user_files').val();
            cc.addContents (
                contentsname,
                contentsprice,
                { from: web3.eth.coinbase, gas: 1000000 },
                function(err, res) {
                    if (!err) {
                        console.log(res);
                    } else {
                        console.error(err);
                    }
                }
            );
        });
    });

</script>



{% endblock %}



