
{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<!-- Page Content -->
<link href="{% static 'unid/css/index.css' %}" rel="stylesheet">
<link href="{% static 'unid/css/main_detail.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">


<div class="container1">
    <!-- contents InFo -->
    {% for info in posts %}
    <div class="rows">
        <div class="row">
            <div class="main-info">
                <div class="contents-kind">
                    {{info.category}}
                </div>
                <h2 align="center">
                    <b> ㄴㅁㅇㅁㄴㅇ</b>
                </h2>
                <hr size="10" align="center" width=20% noshade="noshade" />
                <p align="center" size ="5">
                    <img class="detail_img" src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="35" height="35">   {{ info.user_id }}  3일전</p>

            </div>
        </div>
        <!-- preview -->

        <!-- detail of contents -->
        <div class="row">
            <div class="main-detail">
                <img src="{% static 'unid/img/'%}{{info.file}}" alt="{{info.file}}" width="600px" height="600px">
                <p>컨텐츠 정보</p>
                <p>저자 : {{ info.user_id }}</p>

                <p>저작시기 : {{ info.created_at }}</p>


                <p>본문내용: {{ contents.contents }}</p>

                <p>비고: {{ contents.reference }}</p>


            </div>
        </div>



        <div class="row">
            <div class="contents-tag">
                <div>
                    <img src="{% static 'unid/icon/tag-icon.png' %}" border="0" width="20" height="20">
                    <span>{{ info.tags }}</span>
                </div>

            </div>

        </div>

        {% endfor %}

        <!-- replyment -->
        <div class="row">
            <p> <img src="{% static 'unid/icon/dollar-icon.png' %}" border="0" width="30" height="30">30 </p>
            <div class="contents-reply">
                <img src="{% static 'unid/icon/heart-icon.png' %}" border="0" width="20" height="20">
                10
                <img src="{% static 'unid/icon/wordballoon-icon.png' %}" border="0" width="20" height="20">
                2
                <hr size="10" align="left"  width=670px noshade="noshade" style="color: #b3afaf54;"/>
                <div class="reply-list">
                    <div class="reply">
                        <div class="reply-picture">
                            <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="59">
                        </div>
                        <div class="reply-id">
                            <span>injh9900</span>
                        </div>
                        <div class="reply-date">
                            <span>며칠전</span>
                        </div>
                        <div class="reply-text">
                            <p>좋은 자료 감사합니다 잘 사용하겠습니다.</p>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="reply-picture">
                            <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="59">
                        </div>
                        <div class="reply-id">
                            <span>injh9900</span>
                        </div>
                        <div class="reply-date">
                            <span>며칠전</span>
                        </div>
                        <div class="reply-text">
                            <p>좋은 자료 감사합니다 잘 사용하겠습니다.</p>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="reply-picture">
                            <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="59">
                        </div>
                        <div class="reply-id">
                            <span>injh9900</span>
                        </div>
                        <div class="reply-date">
                            <span>며칠전</span>
                        </div>
                        <div class="reply-text">
                            <p>좋은 자료 감사합니다 잘 사용하겠습니다.</p>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="reply-picture">
                            <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="59">
                        </div>
                        <div class="reply-id">
                            <span>injh9900</span>
                        </div>
                        <div class="reply-date">
                            <span>며칠전</span>
                        </div>
                        <div class="reply-text">
                            <p>좋은 자료 감사합니다 잘 사용하겠습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="input-reply">
                <textarea rows="5" cols="90"> 유니드계정으로 로그인하고 댓글을 입력해보세요!</textarea>
                <p></p>
                <input type="submit" value="댓글작성" style="margin:0 0 0 600px;">
            </form>
        </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'unid/js/main_detail.js' %}"></script>

{% endblock %}

