{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<!-- Page Content -->

<link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">

<div class="container1">
    <!-- contents InFo -->
    <div class="rows">
        <div class="row">
            <div class="contents-info">
                <h5 class="contents-title">
                    <b>  내 지갑 </b>
                </h5>

                <h4 class="contents-title2" align="right">
                    <img src="{% static 'unid/icon/key.png' %}" border="0" width="25" height="25">
                    <img src="{% static 'unid/icon/line-graph.png' %}" border="0" width="25" height="25">
                </h4>
                </br>
                </br>
                <hr size="10" align="center" width=100% noshade="noshade" color="#efefef"/>
                    <div id="Status_account">
                        <input type="hidden" id="idaccount" value={{ request.session.user_account }} readonly /> 
                        {% comment %} {% if request.session.user_name %} {% endcomment %}
                        <p align="center" size ="5" id="idaccount"> {{ request.session.user_name }} 님의 보유자산</p>
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                <p align="center" size ="100"><img src="{% static 'unid/icon/wallet.png' %}" border="0" width="230" height="230">  </p>
                    <div id="Status_balance">
                    </div>
                </br>
                </br>
                <div class="function-button">
                        <a href="http://127.0.0.1:8000/unid/transaction/"> <img src="{% static 'unid/icon/credit-card.png' %}" border="0" width="100" height="100"></a>
                    <br>
                        <span class="icon-name" size="5">전송</span>
                </div>
                <div class="function-button">
                        <img src="{% static 'unid/icon/exchange.png' %}" border="0" width="100" height="100">
                    <br>
                        <span class="icon-name" size="5">환전</span>
                </div>
                <div class="function-button">
                        <img src="{% static 'unid/icon/bill.png' %}" border="0" width="100" height="100">
                    <br>
                        <span class="icon-name"  size="5">구매</span>
                </div>

            </div>
        </div>

        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>


        <!-- search bar -->
        <div class="box">
             <div class="container-2">
                 <div class="icon-box">
                    <span class="icon"><i class="fa fa-search"></i></span>
                 </div>
                 <div class="text-box">
                    <input type="search" id="search" placeholder="Search..." />
                 </div>
              </div>
        </div>
        <!-- history -->
        <div class="row">
            <div class="history">
                <div>
                    <span>보상내역</span>
                    <span>6건</span>
                </div>
                <div>
                    <div class="history-total">
                    <div>
                        <span>total</span> <span>10.4nid</span>
                    </div>
                    <div>
                        <span>(+3.4)</span>
                    </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- history-detail -->
        <div class="row">
            <div class="history-detail">
                2018.11.20   &nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">
                3.4nid
                <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
            </div>
        </div>
        <div class="row">
            <div class="history-detail">
                2018.11.20   &nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/warning.png' %}" border="0" width="20" height="20">
                3.4nid
                <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
            </div>
        </div>
        <div class="row">
            <div class="history-detail">
                2018.11.20   &nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">
                3.4nid
                <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
            </div>
        </div>
        <div class="row">
            <div class="history-detail">
                2018.11.20   &nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/success.png' %}" border="0" width="20" height="20">
                3.4nid
                <span class="history-name" > 한양대 교양중 제일 재미있는 교양 추천의 보상</span>
            </div>
        </div>
        </br>
        </br>
        <!-- history -->
        <div class="row">
            <div class="history">
                <div>
                    <span>거래내역</span>
                    <span>6건</span>
                </div>
            </div>
        </div>

        <!-- history-detail -->
        <div class="row">
            <div class="history-detail">
                2018.11.20 &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> gorapapa </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> kingsori </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/dollar.png' %}" border="0" width="18" height="18">
                <span> 32nid </span>
                <span class="history-name" > 0x3i4kl4hi3oief56i4h4oi</span>
            </div>
        </div>
        <div class="row">
            <div class="history-detail">
                2018.11.20 &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> gorapapa </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> kingsori </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/dollar.png' %}" border="0" width="18" height="18">
                <span> 32nid </span>
                <span class="history-name" > 0x3i4kl4hi3oief56i4h4oi</span>
            </div>
        </div>
        <div class="row">
            <div class="history-detail">
                2018.11.20 &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> gorapapa </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> kingsori </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/dollar.png' %}" border="0" width="18" height="18">
                <span> 32nid </span>
                <span class="history-name" > 0x3i4kl4hi3oief56i4h4oi</span>
            </div>
        </div>
        <div class="row">
            <div class="history-detail">
                2018.11.20 &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> gorapapa </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/user.png' %}" border="0" width="18" height="18">
                <span> kingsori </span> &nbsp&nbsp&nbsp&nbsp
                <img src="{% static 'unid/icon/dollar.png' %}" border="0" width="18" height="18">
                <span> 32nid </span>
                <span class="history-name" > 0x3i4kl4hi3oief56i4h4oi</span>
            </div>
        </div>
    </div>

</div>

<script>
    var WEB3 = require('web3');
    var web3 = new WEB3();
    web3.setProvider(new web3.providers.HttpProvider("http://localhost:8545"));

    // 왜 지혼자 세션의 16진수 데이터를 10진수로 바꿀까??
    //console.log({{request.session.user_account }});
    //var account = {{ request.session.user_account }}
    //var k = account.toString(16)
    //console.log(account);
    //console.log(k);

    $(function showStatus() {
        // let statusAccount = `
        // <p id="ac" align="center" size ="5"></p>
        // `;
        let statusBalance =`
            <h4 align="center" size ="5"> nid </h4>
            <h4 id="ba" align="center" size ="5"></h4>
        `;
        // $('#Status_account').empty();
        // $('#Status_account').append(statusAccount);
        $('#Status_balance').empty();
        $('#Status_balance').append(statusBalance);
        let totalAmount = 0;
        let account = $('#idaccount').val();
        let balance = parseFloat(web3.fromWei(web3.eth.getBalance(account), "ether"));
        // totalAmount += balance;
        // $("#ac").append(`${account}의 보유자산`);
        $('#ba').append(`${balance}eth`);
        // $('#ba').append(`${account}`);
    }); 
</script>

{% endblock %}

