{% extends 'unid/navigationbar.html' %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'unid/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'unid/css/mywallet.css' %}" rel="stylesheet">
</head>
<div class="container">
<div class="row">

        <div class="sidenav">

          <h4 class="my-4">태그 카테고리</h4>
          <div class="list-group">
            <a href="#" class="list-group-item">#학교정보</a>
            <a href="#" class="list-group-item">#학교주변리뷰</a>
            <a href="#" class="list-group-item">#취업정보</a>
            <a href="#" class="list-group-item">#질문</a>
          </div>

        </div>

        <div class="col-lg-9">
            <h5>최신글</h5>
            <div class="container">
                <hr>
                {% for contents in contentslists %}
                <div class="user">
                    <img src="/static/unid/icon/profle-icon.png" border="0" width="35" height="35">&nbsp
                    <span class="writer">{{ contents.writeremail }}</span>
                    <span class="writing-time">{{ contents.created }}</span>
                    <span class="contents-kind">{{ contents.category }}</span>
                    </div>
                <div class="row">

                    <div class="main-col-md-3">
                        <a href="#">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
                        </a>
                    </div>
                <div class="col-md-5">

                    <div class="detail-content">
                        <h3><a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.title }}</h3>
                        <p><a href="{% url 'contentsdetail' contents.contents_id %}">{{ contents.intro }}z</p></div>
                            <!--<a class="btn btn-primary" href="#">View Project</a>-->
                    <div>
                        <span class="main-voting"><img src="{% static 'unid/icon/dollar.png' %}" border="0" width="18" height="18"></span>3.29
                        <span class="main-voting">
                        <img src="{% static 'unid/icon/heart-icon.png' %}" border="0" width="20" height="20"></span>10
                        <span class="main-voting">
                        <img src="{% static 'unid/icon/wordballoon-icon.png' %}" border="0" width="20" height="20"></span>4


                    </div>
                </div>
                {% endfor %}
                </div>

      <hr>


    </div>

{% endblock %}