<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv = "Cache-Control" content = "no-cache">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{% static 'unid/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'unid/vendor/bootstrap/css/bootstrap.css' %}"></script>
    <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>

    <script src="{% static 'unid/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'unid/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'unid/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>uni:d</title>

    <!--favicon -->
    <link rel="shortcut icon" href="{% static 'unid/icon/unid_favicon.ico' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'unid/css/shop-homepage.css' %}" rel="stylesheet">

    <!-- 검색아이콘 -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 구글 notosan-font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">
    <!--wallet function-->
    <!--<link rel="stylesheet" href="{% static 'unid/node_modules/bootstrap/dist/css/bootstrap.css' %}">-->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="{% static 'unid/node_modules/jquery/dist/jquery.js' %}"></script>
    <!--<script src="{% static 'unid/node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:8000/unid">
            <img src="{% static 'unid/icon/unid_icon.png' %}" border="0" width="113" height="54">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="box">
             <div class="container-1">
                 <div class="icon-box">
                    <span class="icon"><i class="fa fa-search"></i></span>
                 </div>
                 <div class="text-box">
                    <input type="search" id="search" placeholder="Search..." />
                 </div>
              </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">정보공유
                    </a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/unid/contentstran">컨텐츠거래</a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item">
                    <a class="nav-link" href="#">크라우드펀딩</a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <img src="{% static 'unid/icon/profle-icon.png' %}" border="0" width="32" height="32">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="http://localhost:8000/unid/login">로그인</a>
                        <a class="dropdown-item" href="http://localhost:8000/unid/signup">회원가입</a>
                        <a class="dropdown-item" href="#">마이페이지</a>
                        <a class="dropdown-item" href="#">게시글작성</a>
                        <a class="dropdown-item" href="http://localhost:8000/unid/contentsupload">컨텐츠등록</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>
{% block content %}

{% endblock %}


</body>

</html>
