<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Intensify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<Style>
			.actions{
				text-align:center;
			}
		</style>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html" class="logo"><img src="images/logo.png" width="400px" height="auto"></img></a>
				<nav class="right">
					<a href="login.html" class="button alt">Log in</a>
				</nav>
			</header>
	
		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="adoption.html">Adoption</a></li>
					<li><a href="community.html">Community</a></li>
	               <li><a href="croudFund.html">CroudFund</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="login.html" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
					  <h1>Adoption</h1>
				   </header>
											<!-- Form -->
									<h3 align="Center">입양하기 위해 다음 폼을 작성하세요</h3>

									<form method="post" action="#">
										<div class="row uniform">
											<!--성함 이메일 -->
											<div class="6u 12u$(xsmall)">
												<input type="text" name="name" id="name" value="" placeholder="성함" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="email" id="email" value="" placeholder="이메일" />
											</div>

											<!-- 자녀유무 -->
											<div class="4u 12u$(small)">
												<input type="radio" id="yesChild" name="child" checked>
												<label for="yesChild">자녀 유</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="noChild" name="child">
												<label for="noChild">자녀 무</label>
											</div>
											 <!--자녀 나이 -->
											<div class="4u$ 12u$(small)"> 
												<input type="text" name="age" id="age" value="" placeholder="자녀 나이"/>
											</div>
											 <!--키운 여부 -->
											<div class="4u 12u$(small)">
												<input type="checkbox" id="animal">
												<label for="animal">반려동물 키운 여부</label>
											</div>
											 <!--가족 동의 -->
											<div class="4u 12u$(small)"> 
												<input type="checkbox" id="family">
												<label for="family">가족 동의 여부</label>
											</div>
											<!--가족 구성원 -->
											<div class="4u$ 12u$(small)"> 
												<input type="text" name="age" id="family_num" value="" placeholder="가족 구성원 수"/>
											</div>
											


											
											<!-- Break -->
											<div class="12u$">
												<div class="select-wrapper">
													<select name="category" id="category">
														<option value="">-집 유형 -</option>
														<option value="1">단독주택</option>
														<option value="1">공동주택</option>
														<option value="1">다세대주택</option>
														<option value="1">연립주택</option>
														<option value="1">아파트</option>
													</select>
												</div>
											</div>
											<!-- Break -->
											<div class="6u 12u$(small)">
												<input type="checkbox" id="copy" name="copy">
												<label for="copy">Email me a copy of this message</label>
											</div>
											<div class="6u$ 12u$(small)">
												<input type="checkbox" id="human" name="human" checked>
												<label for="human">I am a human and not a robot</label>
											</div>
											<!-- 키우는 이유 -->
											<div class="12u$">
												<textarea name="message" id="reason" placeholder="키우는 이유" rows="3"></textarea>
											</div>
											<!-- 향후 계획 -->
											<div class="12u$">
												<textarea name="message" id="plan" placeholder="앞으로의 계획" rows="3"></textarea>
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Send Message" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
											</div>
										</div>
									</form>

				</div>
			</section>
								
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>