<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Intensify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="css/lightbox.min.css"/>

		<style>
			div.notice{
				margin:3px;
				padding-top:10px; 
				text-align:center; 
			}

		</style>


	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html" class="logo"><img src="images/logo.png" width="400px" height="auto"></img></a>
				<nav class="right">
					<a href="login.html" class="button alt">Log in</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="adoption.html">Adoption</a></li>
					<li><a href="community.html">Community</a></li>
	               <li><a href="croudFund.html">CroudFund</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="login.html" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
					  <h1>Adoption</h1>
					  <p>About dog</p>
				   </header>
    
					<!-- Content -->
								<!-- Image -->
					<div class="box alt">
						<div class="row 50% uniform">
							<div class="4u">
								<span class="image fit">
									<img class="example-image" src="images/dog1_1.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>
							<div class="4u">
								<span class="image fit">
									<img class="example-image" src="images/dog2_1.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog2.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>
							<div class="4u$">
								<span class="image fit">
									<img class="example-image" src="images/dog3.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog3_1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>
							<div class="4u">
								<span class="image fit">
									<img class="example-image" src="images/dog4.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog4_1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>						
							<div class="4u">
								<span class="image fit">
									<img class="example-image" src="images/dog5.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog5_1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>
							<div class="4u$">
								<span class="image fit">
									<img class="example-image" src="images/dog6.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog6_1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>
							<div class="4u">
								<span class="image fit">
									<img class="example-image" src="images/dog7.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog7_1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>
							<div class="4u">
								<span class="image fit">
									<img class="example-image" src="images/dog8.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog8_1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>						
							<div class="4u$">
								<span class="image fit">
									<img class="example-image" src="images/dog9.png" alt="" /></a>
								</span>
								<div class="notice"><button onclick="location.href='adopt.html'">입양하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="example-image-link" href="images/dog9_1.png" data-lightbox="example-set"><button>정보보기</button></a></div>
							</div>
						</div>
					</div>
				</div>
			</section>
								
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="js/lightbox-plus-jquery.min.js"></script>

	</body>
</html>